/* Start Variables */
:root{
  --main-color: #10cab7;
}
/* End Variables */
/* Start Global Rules  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
/* Small */
@media(min-width:768px){
  .container{
    width: 750px;
  }
}
/* Medium */
@media(min-width:992px){
  .container{
    width: 970px;
  }
}
/* Large */
@media(min-width:1200px){
  .container{
    width: 1170px;
  }
}
/* XLarge */
@media(min-width:1400px){
  .container{
    width: 1370px;
  }
}
.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 10px;
}
/* End Global rules */

/* Header */
.header {
  padding: 20px;
}
.header .headcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.header .fa-air-freshener {
  font-size: 60px;
  color: var(--main-color);
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2){
  width: 100%;
  transition: 2s;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .icon span {
  border:1px solid black;
  margin-bottom:5px;
  height: 2px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  background: #f6f6f6;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 9999;
}

.header .links ul::before{
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color:transparent transparent #f6f6f6 transparent;
  right: 5px;
  top: -20px;
}
.header .links:hover ul{
  display: block;
}
.header .links ul li a{
  display: block;
  text-decoration: none;
  padding: 15px;
  color: #222;
  transition: .3s;
}
.header .links ul li a:hover{
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #000;
}
/* Start landing */
.landing{
  background-image: url(../images/first.jpg);
  background-size: cover;
  height: calc(100vh - 100px);
  position: relative;

}
.landing .intro{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  text-align:center;
  width: 320px;
}
.landing .intro h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
}

.landing .intro p{
font-size: 19px;
line-height: 1,5;
}
